<?xml version="1.0" ?>
<model>
    <name>UNEXMIN</name>
    <version>1.0</version>
    <sdf version="1.5">UNEXMIN.sdf</sdf>
    <author>
        <name>Ramon Suarez</name>
        <email>suarez.ramon@gmail.com</email>
    </author>
    <description>An underwater submarine model. You can view this model in underwater.world environment: gazebo worlds/underwater.world</description>
</model>
